body{
    background-color: #FFC0CB	;
}
h1{
    background-color: dodgerblue;
    border: 5px solid greenyellow;
}
p{
    background-color: rgba(255, 99, 71, 0.5);   
    border: 5px solid yellow;
}
div{
    background-color: orange;
    opacity: 0.6;
}
h2{
        background-color: #ff000056 ;
/*trabalhando com bordas*/
}
#borda-superio{
    border-top: 2px dotted blueviolet;
    border-bottom: 3px dashed red;
    border-right: 4px double yellowgreen;
    border-left: 5px ridge forestgreen;
}
#borda-inferio{
    border-bottom: 2px outset red;
}
#borda-direta{
    border-right: 3px groove green;
}
#borda-esquerda{
    border-left: 7px double blue
}
/*trabalhando com margens*/
#margem-superior{
    margin: 10px 12px 8px 6px;
}
#margem-inferior{
    margin-bottom: 15px ;
}
#margem-esquerda{
    margin-left: 20px ;
}
#margem-direita{
    margin-right: 20px;
}
/*configurando o container*/
#container{
    width: 300px;
    margin: auto;
    border: 1px solid red;
}       
/*trabalhando com fontes*/
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-style: italic;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-style: oblique;
}